/* NAVBAR */
.custom-navbar {
            background-color: #705C53;
            padding: 1rem 0;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            position: fixed;
            color: #fff;
            font-size: 1.3rem;
        }
        
        .navbar-brand img {
            height: 50px;
            width: auto;
        }
        
        .navbar-nav .nav-link {
            color: #ffffff ;
            position: relative;
            left: 30rem;
            font-size: 1.1rem;
            font-weight: 500;
            margin: 0 0.5rem;
            transition: color 0.3s ease;
            text-align: end;
        }
        
        .navbar-nav .nav-link:hover {
            color: #ffffff ;
        }
        
        .navbar-nav .nav-link.active {
            color: #ffffff ;
            font-weight: 600;
        }

        
.mifood-card {
width: 300px; 
height: 320px;
background-color: #e4e4e4; 
border-radius: 10px; 
padding: 15px;
position: relative; 
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
margin: 20px 0;
}
.mifood-image {
  box-sizing: content-box;
    width: 170px; 
    height: auto;
    object-fit: cover; 
    border-radius: 10px; 
    position: absolute;
    top: -20px; 
    left: -10px; 
    z-index: 2; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.mifood-title {
    position: relative;
    left: 10rem; 
    z-index: 1; 
    font-family: 'Gilda Display', serif; 
    font-size: 30px;
    line-height: 0.9;
    color: #333;
}

/* Penyesuaian Deskripsi */
.mifood-description {
    position: absolute;
    bottom: 0px;
    left: 20px;
    right: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #555;
    text-align: justify; 
}
.mijudul{
  position: absolute;
  top: 17rem;
  /* left: 20rem; */
  color: #ffff;
  font-size: 3.5rem;
  text-align: justify;
}
.miboxa{
  box-sizing: content-box;
    width: 100%;
    height: auto;
    background-color: #F5F5F7;
    padding-bottom: 2rem;
}
.miboxju{
    width: 60%;
    height: 3rem;
    background-color: #B7B7B7;
    margin-bottom: 3rem;
}
.miboxju p{
  font-size: 1.8rem;
}
/* .mimage img{
    position: absolute;
    top:66rem;
    width: 13vw;
    height: auto;
    border-radius: 25px 25px 25px 25px;
    
} */



        
  
        
/* LANDING PAGE */

.maRec3 {
    margin-left: 34.5rem;
}

.marec3 {
    background-color: #705C53;
    object-fit: cover;
    width: 13rem;
    height: 20rem;
    margin-right: 1rem;
}

.majdl {
    font-family: italiana;
    margin-left: 3rem;
    margin-top: -18rem;
}

.maisi {
    font-size: 0.6;
    font-family: istok web;
    margin-top: 1rem;
} 

.matwo {
    background-color: #C5C7BC;
    width: 79rem;
    height: 36rem;
    margin-top: 5rem;
}

.mafto {
    margin-top: 5.5rem;
    height: 25rem;
}

.majdlo {
    font-family: italiana;
    margin-left: 31rem;
    margin-top: -27.5rem;
}

.maisio {
    font-size: 0.6;
    font-family: istok web;
    margin-top: 1rem;
} 

.mathree {
    margin-top: 9rem;
}

.majdlet {
    font-family: italiana;
    text-align: center;
}

.macon {
    margin-left: 6.5rem;
    margin-top: 4rem;
}

.marec4 {
    margin-top: 2rem;
    margin-left: -2rem;
}

.mafo {
    object-fit: cover;
    width: 16rem;
    height: 12rem;
    filter: drop-shadow(1px, 1px, 20px black);
}

.matxt {
    margin-left: 5.5rem;
    margin-top: 2rem;
    font-family: Jacques Francois;
}

.maftak {
    margin-top: 10rem;
    width: 79rem;
}





/* KESENIAN */

 .hero {
          background-image: url(image/hero.png);
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .hero .title h1{
          text-transform: uppercase;
          color: white;
          font-size: 3rem;
          font-weight: bold;
        }
      .judul h1 {
        font-size: 3rem;
        color: #705C53;
        text-transform: capitalize;
        text-align: center;
        text-shadow: #705C53;
        font-weight: bold;
      }

      .content {
        padding: 15px 20px;
        display: flex;
        gap: 50px;

      }

      .content .img img {
        width: 100%;
        height: 100%;
      }

      

      .content .text {
        width: 60%;
        font-size: 2rem;
      }

      .garis {
      position: relative;
      left: -1rem;
      /* top: 2rem; */
      border: none;
      height: 3px;
      background-color: #705C53;
      width: 100%;
      
    }

    .judul2 h1 {
        font-size: 3em;
        color: #705C53;
        text-transform: capitalize;
        text-align: center;
        text-shadow: #705C53;
        font-weight: bold;
        position: relative;
        top: 4rem;
        
      }

    .img2{
      position: relative;
      top: 7rem;

    }

    .lcontainer{
      position: relative;
      right: -46.3rem;
      background-color: #705C53;
      width: 32rem;
      height: 23.5rem;
      top: -24.5rem;
      font-size: 1.6rem;
      color: #ffffff;
      text-align: left;
  }

.Lgallery-section {
  padding: 50px 0;
  position: relative;
  top: -5rem;
}

.Lcard-custom {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  background-color: #5a3e3e;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Lcard-custom:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.Lcard-img-wrap {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}


.Lcard-img-wrap img {
  width: 100%;
  height: 360px; 
  object-fit: cover;
  display: block;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.Lcard-img-wrap::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; 
  background: linear-gradient(to top, rgba(90, 62, 62, 0.9), rgba(90, 62, 62, 0));
  pointer-events: none;
}


.Lcard-body {
  display: none;
}


@media (max-width: 767px) {
  .Lcard-img-wrap img {
    height: 280px; 
  }
}
.satu{
 position:relative;
 top: -3rem;
 left: 2rem;
 font-size: 2rem;
 color: #F5F5F7;
 font-weight: bold;

}

.dua{
 position:relative;
 top: -3rem;
 left: 2rem;
 font-size: 2rem;
 font-weight: b ;
 color: #F5F5F7;

}
.tiga{
 position:relative;
 top: -3rem;
 left: 2rem;
 font-weight: bold;
 font-size: 2rem;
 color: #F5F5F7;

}















.adit-utama {
    text-align: center;
    padding: 75px 20px;
}

.adit-box-judul {
    background: linear-gradient(90deg, #a57a63, #d6b6a1);
    color: white;
    width: 400px;
    margin: 0 auto 50px;
    border-radius: 20px;
    padding: 20px 0;
}


.deskripsi1 {
    max-width: 1120px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 1.6;
}

.kotakAdit{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    background-color: #ece7e3;
    margin-top: 10px;
}

.kotakTradisi {
    text-align: center;
    margin-top: 40px;
}

.kotakTradisi img {
    width: 225px;
    height: 170px;
    object-fit: cover;
    border-radius: 8px;
}

.kotakTradisi p {
  margin-top: 10px;
    font-weight: bold;
}

.isi-kotak {
    padding: 125px 80px;
}

.isi-deskripsi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-bottom: 80px;
}



.isi-deskripsi img {
    width: 45%;
    border-radius: 10px;
    object-fit: cover;
    position: relative;
    left: -4rem;   
}

.isi-deskripsi2 img {
    width: 45%;
    border-radius: 10px;
    object-fit: cover;
    position: relative;
    right: -4rem;   
}

.isi-deskripsi2 {
  position: relative;
  text-align: right;
}

.isi-deskripsi p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
}

.isi-deskripsi2 p {
    font-size: 1.2rem;
    line-height: 1.6;
    position: absolute;
    text-align: left;
    left: -3rem;
    max-width: 30rem;
}

/* footer */


.Lfooter {
  background-color: #6b574d; /* warna coklat lembut seperti gambar */
  color: #fff;
  padding: 30px 0 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.Lfooter-title {
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 10px;
  position: relative;
  top: 2rem;
}

.Lfooter-links li {
  color: #fff;
  margin-bottom: 6px;
  font-size: 1rem;
  position: relative;
  left: 3rem;
}

.Lfooter-links li:hover {
  color: #dcdcdc;
  cursor: pointer;
}

.Lfooter-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 20px;
  padding: 10px 0;
  font-size: 0.85rem;
  color: #e0e0e0;
}


@media (max-width: 767px) {
  .Lfooter-title {
    text-align: center;
  }
  .Lfooter-links {
    text-align: center;
    margin-top: 10px;
  }
}



/* RUMAH ADAT */
.title {
   position: absolute;
   top: 24rem;
   left: 25rem;
   color: floralwhite;
  font-size: 47%;
  text-align: justify;
  text-shadow: #ffffff;
}
   .beranda {
    width: 100%;
    height: auto;
}
.judul1 {
  font-size: 45px;
  color: #705C53;
  text-align: center;
  margin-left: 4%;
  margin-top: 5%;
}
.penjelasan{
  max-width: 60%;
  margin-top: 6%;
  margin-left: 5%;
}
.poster {
  width: 30%;
  height: auto;
  margin-top: -15%;
  margin-left: 66%;

}
.judul2 {
  font-size: 11px;
  color: #705C53;
  text-align: center;
  margin-left: 4px;
  margin-top: 5px;
}
.penjelasan2{
  max-width: 60%;
  margin-left: 18%;
  margin-top: 8%;
}
.garis{
  position: relative;
  left: -1rem;
  border: none;
  height: 3px;
  background-color: #705C53;
  width: 100%;
  margin-top: 5rem;
} 
.back{
  width: 30%;
  height: auto;
  margin-top: 8rem;
  margin-left: 55px;
}
.penjelasan3{
  max-width: 60%;
  margin-left: 30rem;
  margin-top: -15rem;
}
.gambar1{
  display: flex;
  width: 20%;
  margin-left: 10%;
  margin-top: 11%;
  position: relative;
  top: 2rem;
}
.Soko{
  position: relative;
  top: 15rem;
  left: -12rem;
  font-size: 2rem;
}
.gambar2{
  display: flex;
  width: 20%;
  margin-left: 40%;
  margin-top: -10rem;
  display: flex;
  position: relative;
  top: -1rem;
}
.Songgo{
  position: relative;
  top: 15rem;
  left: -12rem;
  font-size: 2rem;
  text-align: center;
}
.gambar3{
  display: flex;
  width: 20%;
  margin-left: 68%;
  margin-top: -11%;
  display: flex;
  position: relative;
  top: -4rem;
}
.Ander{
  position: relative;
  top: 15rem;
  left: -12rem;
  font-size: 2rem;
  text-align: center;
}